.btnsWrapper {
  margin-top: 50px;
  @media (max-width: 767px) {
    margin-top: 20px;
  }

  button {
    margin-left: 10px;
    cursor: pointer;
    transition: all 0.9s;

    &:hover {
      background-color: #2d0346;
    }
  }
}
.active{
  background-color: #2d0346;
}
.errorMessage{
  color: #e70606;
  font-weight: bolder;
}