form {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(44, 42, 42, 0.48);
  padding: 0 50px;
  border-radius: 20px;
  box-shadow: rgba(122, 8, 189, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(86, 13, 134, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  @media (max-width: 767px) {
    padding: 0 15px;
    font-size: 15px;
  }

  div {
    margin-bottom: 40px;
    @media (max-width: 767px) {
      margin-bottom:15px;
    }

    input {
      width: 400px;
      padding: 25px;
      border-radius: 20px;
      border: none;
      box-shadow: rgba(58, 18, 117, 0.78) 0px 10px 54px;
      font-size: 20px;
      font-weight: bolder;
      background-color: rgba(45, 43, 43, 0.39);
      color: #4895ab;
      @media (max-width: 767px) {
        width: 200px;
        padding: 15px;
        font-size: 15px;
        @media (max-width: 767px) {
          font-size: 12px;
          padding: 10px;
        }
      }
      &::placeholder{
        color: #d9d6d9;
      }
      &:focus{
        border: 1px solid rgba(107, 45, 178, 0.65);
        outline: none;
      }
      &:focus::placeholder{
        opacity: 0;
      }
    }
  }

  button {
    padding: 20px 70px;
    color: white;
    font-weight: bolder;
    border-radius: 30px;
    font-size: 20px;
    border: none;
    background-color: rgba(135, 12, 199, 0.42);
    box-shadow: rgba(135, 12, 199, 0.16) 0px 15px 10px;
    @media (max-width: 767px) {
      padding: 10px 20px;
      font-size: 13px;
      margin: 20px 0;

    }
  }

  h1 {
    font-size: 40px;
    font-style: oblique;
    margin: 70px 0;
    color: #880dda;
    animation: slide-in-top 2s ease-out;
    @media (max-width: 767px) {
      font-size: 19px;
      margin: 30px 0;
    }
    span{
      color: rgba(31, 209, 249, 0.84);
    }
  }
  .email{
    animation: slide-in-left 2s ease-out;
  }
  .password{
    animation: slide-in-right 2s ease-out;
  }
}

.btnsWrapper {
  margin-top: 50px;
  @media (max-width: 767px) {
    margin-top: 10px;
  }

  button {
    margin-left: 10px;
    cursor: pointer;
    transition: all 0.9s;
    animation: slide-in-right 3s ease-out;

    &:hover {
      background-color: #2d0346;
    }
  }
}
.active{
  background-color: #2d0346;
  animation: slide-in-left 3s ease-out !important;
}
.errorMessage{
  color: #e70606;
  font-weight: bolder;
  @media (max-width: 767px) {
    font-size: 12px;
  }

}

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-in-top {
  from{
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}