* {
  margin: 0;
}

.wrapper {
  height: 100vh;
  padding: 5px;
  background-repeat: no-repeat;
  background-size: cover;
}

header {

}

.container {
  display: flex;
  justify-content: space-between;

  nav {
    width: 20%;
  }

  main {
    width: 100%;

  }
}