*{
  margin: 0;
}
header{
  background-color: #ffffff;
}
.container{
  display: flex;
  justify-content: space-between;
  nav{
    width: 30%;
    background-color: #ffffff;
  }
  main{
    width: 100%;
    background-color: #ffffff;
  }
}