.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  margin-bottom: 20px;
}
.container h1 {
  color: #a44a07;
  letter-spacing: 20px;
  font-size: 30px;
  animation-name: brighten;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  box-shadow: rgba(241, 130, 5, 0.15) 0px 5px 15px;
  border-radius: 5px;
  padding: 5px;
}
.container .btnWrapper {
  display: flex;
  align-items: center;
}
.container .btnWrapper p {
  font-size: 20px;
  color: #d3740b;
  padding: 10px 25px;
  box-shadow: rgba(208, 127, 4, 0.34) 0px 5px 15px;
  font-weight: bolder;
}
@media (max-width: 767px) {
  .container .btnWrapper p {
    font-size: 12px;
    padding: 5px 15px;
  }
}
.container .btnWrapper .customBtn {
  font-size: 20px;
  color: #da1212;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.5s ease;
  position: relative;
  outline: none;
  box-shadow: rgba(208, 127, 4, 0.34) 0px 5px 15px;
}
@media (max-width: 767px) {
  .container .btnWrapper .customBtn {
    font-size: 12px;
    padding: 5px 15px;
  }
}
.container .btnWrapper .btn9 {
  border: none;
  transition: all 0.3s ease;
  overflow: hidden;
}
.container .btnWrapper .btn9:after {
  position: absolute;
  content: " ";
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1fd1f9;
  background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
  transition: all 0.3s ease;
}
.container .btnWrapper .btn9:hover {
  background: transparent;
  box-shadow: rgba(103, 5, 36, 0.89) 0px 5px 15px;
  color: #570517;
}
.container .btnWrapper .btn9:hover:after {
  -webkit-transform: scale(2) rotate(180deg);
  transform: scale(2) rotate(180deg);
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5), -4px -4px 6px 0 rgba(116, 125, 136, 0.2), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5), inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
}

@keyframes brighten {
  0% {
    color: #fc8a01;
  }
  25% {
    color: #e17f01;
  }
  50% {
    color: #c47001;
  }
  75% {
    color: #e17f01;
  }
  100% {
    color: #fc8a01;
  }
}
@keyframes logoRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bookacket {
  height: 58px;
  width: 158px;
  position: relative;
  background: linear-gradient(135deg, #cc6d0d, #d36e05, #42b00f);
  border-radius: 10px;
  cursor: default;
  animation: animate 10.5s linear infinite;
}

.bookacket .uncomenkad,
.bookacket span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bookacket .uncomenkad {
  z-index: 999;
  height: 58px;
  width: 158px;
  background: #1b1b1b;
  border-radius: 6px;
  text-align: center;
}

.uncomenkad .vemekunys {
  line-height: 60px;
  color: #fbf4f4;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 2px;
  background: linear-gradient(135deg, #d98f01, #b9680d, #a18807);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 10.5s linear infinite;
}

@keyframes animate {
  100% {
    filter: hue-rotate(360deg);
  }
}
.bookacket span {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background: inherit;
}

.bookacket span:first-child {
  filter: blur(7px);
}

.bookacket span:last-child {
  filter: blur(20px);
}

/*# sourceMappingURL=Header.module.css.map */
