$mainColor: #10c6e7;
$headerBg: rgb(54, 47, 126);
.container {
  position: relative;
  height: 100%;
  width: 100%;
  font-family: Candara;
  letter-spacing: 1.3px;

  @media (max-width: 767px) {
    //margin-top: 50px;
  }

  .header {
    background-color: rgb(94 152 201 / 31%);;
    padding: 20px;
    transition: all 0.5s;
    @media (max-width: 767px) {
      padding: 10px;
    }

    h1 {
      padding: 10px;
      color: $mainColor;
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: all 0.9s;

      svg {
        margin-right: 15px;
        transition: all 0.5s;
        @media (max-width: 767px) {
          font-size: 20px;
          padding: 0 5px;
          margin-left: 0;
        }
      }

      @media (max-width: 767px) {
        font-size: 17px;

        margin-bottom: 10px;

      }
    }

    .activeList {
      color: #000470;
      border-radius: 5px;
      background-color: rgba(2, 2, 2, 0.19);
      @media (max-width: 767px) {
        background-color: rgba(106, 217, 239, 0.42);
      }
    }

    @media (max-width: 767px) {
      background-color: transparent;
      .arrowSvg {
        display: none;
      }
    }

  }

  .search {
    .wrapperSearch {
      background-color: rgba(12, 12, 12, 0.99);
      padding: 35px;
      //background-color: #fdfdfd;
      border-bottom: 1px solid rgba(37, 28, 70, 0.6);
      position: relative;

      input {
        //width: 100%;
        position: absolute;
        top: 50%;
        left: 50px;
        transform: translateY(-50%);
        padding: 25px 0;
        border: none;
        width: 100%;
        font-size: 17px;
        background-color: transparent;
        letter-spacing: 1.3px;
        color: $mainColor;

        &::placeholder {
          color: $mainColor;
          letter-spacing: 1.3px;
          font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", monospace, monospace;
          padding: 0 15px;
        }

        &:focus {
          outline: none;

        }

        &:focus::placeholder{
          opacity: 0;
        ;
        }
      }

      svg {
        position: absolute;
        top: 50%;
        z-index: 2;
        left: 5px;
        transform: translateY(-50%);
        color: $mainColor;
        margin-left: 15px;
      }
    }


    @media (max-width: 767px) {
      display: none;
    }

  }

  .logout {
    background-color: rgb(80 115 135 / 40%);
    position: absolute;
    bottom: 0;
    //padding: 35px 15px;
    width: 100%;

    .wrapperLogout {
      padding: 35px 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        color: $mainColor;
        font-size: 20px;
        letter-spacing: 2px;
        font-weight: bolder;
        border-bottom: 3px solid $mainColor;
        cursor: pointer;
        @media (max-width: 767px) {
          font-size: 12px;
          border-bottom: none;
        }
      }

      svg {
        font-size: 30px;
        color: #cc0909;
        cursor: pointer;
        box-shadow: rgb(207 14 14) -3px -5px 34px 6px;
        background: #781e1e;

        @media (max-width: 767px) {
          font-size: 20px;
        }
      }
    }
  }

  .navDialogs {
    padding: 15px;
    overflow-y: scroll;
    height: 72%;
    transition: all 0.5s;
    //width: 100%;
    @media (max-width: 767px) {
      height: 61%;
    }

    &::-webkit-scrollbar {
      width: 5px;
      @media (max-width: 767px) {
        width: 0;
      }
    }

    &::-webkit-scrollbar-track {
      background: rgba(75, 136, 136, 0.27);
      border-radius: 20px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(178, 182, 182, 0.56);
      border-radius: 20px;
    }
  }

  .containerUsers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    //padding: 15px;
    transition: all 0.9s;
    border-bottom: 1px solid rgb(251 250 250 / 15%);
    border-radius: 5px;

    &:hover {
      background-color: rgba(19, 81, 112, 0.38);
      cursor: pointer;
    }

    @media (max-width: 767px) {
      padding: 10px 0 ;
      width: 100%;
    }
  }

  .wrapperAvatar {
    //display: flex;
    align-items: center;
    width: 100%;

    .name {
      color: #d7d2d2;
      font-size: 18px;
      padding: 10px;
    }

    @media (min-width: 768px) {
      .nameComp {
        display: none;
      }
    }


    @media (max-width: 767px) {
      display: block;
      .namePhone {
        display: none;
      }
    }

    .containerText {
      display: flex;
      justify-content: space-between;
      width: 100%;
      //margin-left: 30px;
      @media (max-width: 767px) {
        margin-left: 0;
      }
    }

    .wrapperAva {
      display: flex;
      width: 100%;

      .name {
        margin-left: 15px;
        font-weight: bold;
        font-size: 16px;
      }
    }

    @media (max-width: 767px) {
      .name {
        font-size: 14px;
        padding: 5px;
      }
      img {
        max-width: 40px;
      }
    }
  }

  .wrapperName {
    margin-left: 20px;

    .name {
      color: #d7d2d2;
      font-size: 18px;
    }

    .text {
      color: $mainColor;
      max-height: 100px;
      max-width: 100%;
    }
  }

  .wrapperTime {
    display: flex;

    @media (max-width: 767px) {
      justify-content: space-between;
      align-items: center;
    }
  }

  .wrapperText {
    width: 100%;

    @media (max-width: 767px) {
      display: flex;
      align-items: center;
    }

    .message {
      color: rgba(166, 161, 161, 0.87);
      font-size: 16px;
      letter-spacing: 2px;
      font-weight: bold;
      padding: 10px;
      overflow: hidden;
      @media (max-width: 767px) {
        margin-left: 20px;
        width: 30px;
      }
    }

    .wrapperInfo {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .time {
    display: flex;

    p {
      color: rgb(164, 159, 159);
      margin-right: 5px;
      @media (max-width: 767px) {
        font-size: 13px;
      }
    }
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(232, 139, 7, 0.35) 0px 5px 15px;
    color: #da790a;

    p {
      font-size: 20px;
      @media (max-width: 767px) {
        font-size: 15px;
      }
    }

    .isOnline {
      display: flex;
      align-items: center;
      font-size: 20px;
      color: #01a923;
      @media (max-width: 767px) {
        font-size: 12px;
      }


      svg {
        margin-right: 5px;
        font-size: 30px;
        @media (max-width: 767px) {
          font-size: 20px;
        }
      }
    }

    .isOffline {
      display: flex;
      align-items: center;
      font-size: 20px;
      color: red;

      svg {
        margin-right: 5px;
        font-size: 30px;
      }

      @media (max-width: 767px) {
        font-size: 12px;
        svg {
          font-size: 20px;
        }
      }
    }

    &:hover {
      cursor: pointer;
    }
  }

  //@media (max-width: 767px) {
  //  display: none;
  //}
}